USE [Election]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'club_members'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'club_members'

GO
ALTER TABLE [dbo].[student] DROP CONSTRAINT [CK_student]
GO
ALTER TABLE [dbo].[news] DROP CONSTRAINT [CK_news]
GO
ALTER TABLE [dbo].[link] DROP CONSTRAINT [CK_link]
GO
ALTER TABLE [dbo].[vote] DROP CONSTRAINT [FK_vote_student]
GO
ALTER TABLE [dbo].[vote] DROP CONSTRAINT [FK_vote_Candidate]
GO
ALTER TABLE [dbo].[publication] DROP CONSTRAINT [FK_publication_club]
GO
ALTER TABLE [dbo].[profile] DROP CONSTRAINT [FK_profile_student1]
GO
ALTER TABLE [dbo].[profile] DROP CONSTRAINT [FK_profile_club]
GO
ALTER TABLE [dbo].[news] DROP CONSTRAINT [FK_news_club]
GO
ALTER TABLE [dbo].[link] DROP CONSTRAINT [FK_link_club]
GO
ALTER TABLE [dbo].[Candidate] DROP CONSTRAINT [FK_Candidate_student]
GO
ALTER TABLE [dbo].[Candidate] DROP CONSTRAINT [FK_Candidate_club]
GO
/****** Object:  View [dbo].[vote_result]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP VIEW [dbo].[vote_result]
GO
/****** Object:  UserDefinedFunction [dbo].[members_notmembers_fun]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP FUNCTION [dbo].[members_notmembers_fun]
GO
/****** Object:  UserDefinedFunction [dbo].[count_members_of_club_fun]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP FUNCTION [dbo].[count_members_of_club_fun]
GO
/****** Object:  View [dbo].[count_members_of_club]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP VIEW [dbo].[count_members_of_club]
GO
/****** Object:  UserDefinedFunction [dbo].[club_members_fun]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP FUNCTION [dbo].[club_members_fun]
GO
/****** Object:  UserDefinedFunction [dbo].[ClubState_fun]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP FUNCTION [dbo].[ClubState_fun]
GO
/****** Object:  View [dbo].[ClubState]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP VIEW [dbo].[ClubState]
GO
/****** Object:  View [dbo].[members_notmembers]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP VIEW [dbo].[members_notmembers]
GO
/****** Object:  View [dbo].[club_members]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP VIEW [dbo].[club_members]
GO
/****** Object:  Table [dbo].[vote]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP TABLE [dbo].[vote]
GO
/****** Object:  Table [dbo].[veiw]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP TABLE [dbo].[veiw]
GO
/****** Object:  Table [dbo].[student]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP TABLE [dbo].[student]
GO
/****** Object:  Table [dbo].[publication]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP TABLE [dbo].[publication]
GO
/****** Object:  Table [dbo].[profile]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP TABLE [dbo].[profile]
GO
/****** Object:  Table [dbo].[news]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP TABLE [dbo].[news]
GO
/****** Object:  Table [dbo].[manager]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP TABLE [dbo].[manager]
GO
/****** Object:  Table [dbo].[link]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP TABLE [dbo].[link]
GO
/****** Object:  Table [dbo].[club]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP TABLE [dbo].[club]
GO
/****** Object:  Table [dbo].[Candidate]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP TABLE [dbo].[Candidate]
GO
/****** Object:  UserDefinedFunction [dbo].[stu_nationalcod_chk]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP FUNCTION [dbo].[stu_nationalcod_chk]
GO
/****** Object:  UserDefinedFunction [dbo].[ret_data_type]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP FUNCTION [dbo].[ret_data_type]
GO
/****** Object:  UserDefinedFunction [dbo].[link_chk]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP FUNCTION [dbo].[link_chk]
GO
/****** Object:  UserDefinedFunction [dbo].[equal]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP FUNCTION [dbo].[equal]
GO
/****** Object:  UserDefinedFunction [dbo].[cnt]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP FUNCTION [dbo].[cnt]
GO
/****** Object:  UserDefinedFunction [dbo].[chk]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP FUNCTION [dbo].[chk]
GO
/****** Object:  StoredProcedure [dbo].[update_student]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP PROCEDURE [dbo].[update_student]
GO
/****** Object:  StoredProcedure [dbo].[ret_dabir_club]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP PROCEDURE [dbo].[ret_dabir_club]
GO
/****** Object:  StoredProcedure [dbo].[insert_ara_to_candid]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP PROCEDURE [dbo].[insert_ara_to_candid]
GO
/****** Object:  StoredProcedure [dbo].[FindUserPass]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP PROCEDURE [dbo].[FindUserPass]
GO
/****** Object:  StoredProcedure [dbo].[disable_student]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP PROCEDURE [dbo].[disable_student]
GO
/****** Object:  StoredProcedure [dbo].[delete_student]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP PROCEDURE [dbo].[delete_student]
GO
/****** Object:  User [##MS_PolicyEventProcessingLogin##]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP USER [##MS_PolicyEventProcessingLogin##]
GO
USE [master]
GO
/****** Object:  Database [Election]    Script Date: 6/8/2016 4:09:26 PM ******/
DROP DATABASE [Election]
GO
/****** Object:  Database [Election]    Script Date: 6/8/2016 4:09:26 PM ******/
CREATE DATABASE [Election]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'master', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Elction.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'mastlog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Election_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Election].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [Election]
GO
/****** Object:  User [##MS_PolicyEventProcessingLogin##]    Script Date: 6/8/2016 4:09:26 PM ******/
CREATE USER [##MS_PolicyEventProcessingLogin##] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  StoredProcedure [dbo].[delete_student]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_student]
@stu_id int


AS
BEGIN
if not exists (select *from student where id_stu=@stu_id)
return 0

else
delete from profile
where id_stu=@stu_id
return 1


END
GO
/****** Object:  StoredProcedure [dbo].[disable_student]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[disable_student]
@stu_id int,
@enable bit

AS
BEGIN
if not exists (select *from student where id_stu=@stu_id)
return 0

else
update student set EnableState=@enable
where id_stu=@stu_id
return 1


END

GO
/****** Object:  StoredProcedure [dbo].[FindUserPass]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FindUserPass]
  @id int,
  @pass nvarchar(50) output
as
if not exists ( select * from profile where id_stu=@id )
return 0

set @pass=( select pass from profile where id_stu=@id )
return 1
GO
/****** Object:  StoredProcedure [dbo].[insert_ara_to_candid]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_ara_to_candid]

AS
BEGIN
 update Candidate set TedadAra=vote_result.tedad_ara
from Candidate inner join vote_result
on Candidate.id_stu=vote_result.id_cand and Candidate.id_club=vote_result.id_club
END

GO
/****** Object:  StoredProcedure [dbo].[ret_dabir_club]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ret_dabir_club]
  
AS
BEGIN
select MAX(tedad_ara)as maxara into #max_ara_all_club
 from (select COUNT(*)as tedad_ara,id_club from dbo.vote
group by id_cand,id_club)as tmp1
group by id_club
 

select tedad_ara,id_cand,id_club into #non_final_result
 from  dbo.vote_result inner join #max_ara_all_club on #max_ara_all_club.maxara=vote_result.tedad_ara

 select name,family,id_cand,tedad_ara,case id_club 
  when 17 then N'دبیر انجمن کشاورزی'
 when 46 then N'دبیر انجمن کامپیوتر'
 end as 'انجمن'
 from student inner join #non_final_result 
  on #non_final_result.id_cand=id_stu

END

GO
/****** Object:  StoredProcedure [dbo].[update_student]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_student]
@stu_id int,
@name nvarchar(100),
@family nvarchar(100)
AS
BEGIN
if not exists (select *from student where id_stu=@stu_id)
return 0

else
update student set name=@name,family=@family
where id_stu=@stu_id
return 1
END

GO
/****** Object:  UserDefinedFunction [dbo].[chk]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[chk](@id_club char(2),@id_stu char(10))
RETURNS int
as
BEGIN
DECLARE @Result int
DECLARE @Master int
DECLARE @old_club int
DECLARE @roll_notroll int
SET @Result=(select count(id_stu) from profile where id_stu=@id_stu)

 IF(@Result=2) 
  BEGIN
  set @Master=(select master_notmaster from club inner join profile on profile.id_club=club.id_club where id_stu=@id_stu and profile.id_club=@id_club)
 IF(@Master=1)
 BEGIN
 set @old_club=(select master_notmaster from club inner join profile on profile.id_club=club.id_club where id_stu=@id_stu and profile.id_club!=@id_club)
 if(@old_club=1)
  BEGIN
  set @roll_notroll=1
  END
 END
  END
  IF(@Result=3) 
  BEGIN
   set @roll_notroll=1
  END
  RETURN @roll_notroll
END

GO
/****** Object:  UserDefinedFunction [dbo].[cnt]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[cnt](@id_club char(2))
RETURNS int
as
BEGIN
DECLARE @number int
DECLARE @Result int
  set @number=(select count(news.id_club) from news where id_club=@id_club)

IF (@number>4 )
BEGIN
    SET @Result = 1
END
ELSE 
BEGIN
    SET @Result = 0
END

RETURN @Result
END
GO
/****** Object:  UserDefinedFunction [dbo].[equal]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[equal](@id_club char(2),@id_stu char(10))
RETURNS int
as
BEGIN
DECLARE @Result int
DECLARE @Master int
  set @Master=(select master_notmaster from club inner join profile on profile.id_club=club.id_club where id_stu=@id_stu and profile.id_club=@id_club)

IF (NOT EXISTS(select id_stu from profile where (id_stu like '__' + @id_club + '%') and id_stu=@id_stu) and(@Master=1) )
BEGIN
    SET @Result = 1
END
ELSE 
BEGIN
    SET @Result = 0
END

RETURN @Result
END
GO
/****** Object:  UserDefinedFunction [dbo].[link_chk]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[link_chk](@link_add varchar(MAX))
RETURNS int
as
BEGIN
--DECLARE @number int
DECLARE @Result int
  --set @number=(select count(news.id_club) from news where id_club=@id_club)

IF (@link_add like 'https'+'%' )
BEGIN
    SET @Result = 1
END
ELSE 
BEGIN
    SET @Result = 0
END

RETURN @Result
END
GO
/****** Object:  UserDefinedFunction [dbo].[ret_data_type]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ret_data_type](@tb varchar(150),@col varchar(150) )
RETURNS NVARCHAR(MAX)
BEGIN
    RETURN (select Data_Type from INFORMATION_SCHEMA.COLUMNS where Table_Name=@tb and Column_Name=@col)
END
GO
/****** Object:  UserDefinedFunction [dbo].[stu_nationalcod_chk]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[stu_nationalcod_chk](@national_cod char(10))
RETURNS int
as
BEGIN
--DECLARE @number int
DECLARE @Result int
  --set @number=(select count(news.id_club) from news where id_club=@id_club)

IF (LEN(@national_cod) <10)
BEGIN
    SET @Result = 1
END
ELSE 
BEGIN
    SET @Result = 0
END

RETURN @Result
END
GO
/****** Object:  Table [dbo].[Candidate]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidate](
	[id_term] [int] NOT NULL,
	[id_stu] [int] NOT NULL,
	[avrage] [money] NOT NULL,
	[id_club] [int] NOT NULL,
	[StartDate] [nchar](10) NOT NULL,
	[EndDate] [nchar](10) NOT NULL,
	[TedadAra] [int] NULL,
 CONSTRAINT [PK_Candidate] PRIMARY KEY CLUSTERED 
(
	[id_term] ASC,
	[id_stu] ASC,
	[id_club] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[club]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[club](
	[id_club] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[flag] [bit] NOT NULL,
	[startDate] [char](10) NOT NULL,
	[pic] [image] NULL,
	[master_notmaster] [bit] NULL,
 CONSTRAINT [PK_club] PRIMARY KEY CLUSTERED 
(
	[id_club] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[link]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[link](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_club] [int] NOT NULL,
	[text_title] [nvarchar](256) NOT NULL,
	[link_add] [varchar](max) NOT NULL,
 CONSTRAINT [PK_link_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[manager]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[manager](
	[nationalcode] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[pass] [nvarchar](50) NOT NULL,
	[flag] [bit] NOT NULL,
	[start_date] [char](10) NOT NULL,
 CONSTRAINT [PK_manager] PRIMARY KEY CLUSTERED 
(
	[nationalcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[news]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[news](
	[id_club] [int] NOT NULL,
	[flag] [bit] NOT NULL,
	[pic] [image] NULL,
	[date] [varchar](50) NOT NULL,
	[titr] [nvarchar](256) NULL,
	[id_news] [int] IDENTITY(1,1) NOT NULL,
	[text] [ntext] NULL,
 CONSTRAINT [PK_news] PRIMARY KEY CLUSTERED 
(
	[id_club] ASC,
	[id_news] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[profile]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[profile](
	[id_stu] [int] NOT NULL,
	[pass] [nvarchar](50) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[pic] [image] NULL,
	[email] [varchar](50) NULL,
	[id_club] [int] NOT NULL,
	[EnableState] [bit] NOT NULL,
	[semat] [bit] NULL,
 CONSTRAINT [PK_profile] PRIMARY KEY CLUSTERED 
(
	[id_stu] ASC,
	[id_club] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[publication]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[publication](
	[id_pub] [int] IDENTITY(1,1) NOT NULL,
	[id_club] [int] NOT NULL,
	[File] [image] NOT NULL,
	[flag] [bit] NOT NULL,
	[date] [char](10) NOT NULL,
 CONSTRAINT [PK_publication] PRIMARY KEY CLUSTERED 
(
	[id_pub] ASC,
	[id_club] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[student]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[student](
	[id_stu] [int] NOT NULL,
	[national_code] [char](10) NOT NULL,
	[name] [nvarchar](50) NULL,
	[family] [nvarchar](50) NULL,
	[EnableState] [bit] NOT NULL,
 CONSTRAINT [PK_student] PRIMARY KEY CLUSTERED 
(
	[id_stu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[veiw]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[veiw](
	[srl] [int] IDENTITY(1,1) NOT NULL,
	[date] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_veiw] PRIMARY KEY CLUSTERED 
(
	[srl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[vote]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vote](
	[id_stu] [int] NOT NULL,
	[id_cand] [int] NOT NULL,
	[id_club] [int] NOT NULL,
	[id_term] [int] NOT NULL,
 CONSTRAINT [PK_vote] PRIMARY KEY CLUSTERED 
(
	[id_stu] ASC,
	[id_cand] ASC,
	[id_club] ASC,
	[id_term] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[club_members]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[club_members]
AS
SELECT        tmp.stu_family, tmp.stu_name, tmp.stu_id, dbo.club.name AS anjoman_marbooteh, tmp.anjoman_id
FROM            dbo.club INNER JOIN
                             (SELECT        dbo.student.name AS stu_name, dbo.student.family AS stu_family, dbo.student.id_stu AS stu_id, 
                                                         dbo.profile.id_club AS anjoman_id
                               FROM            dbo.student INNER JOIN
                                                         dbo.profile ON dbo.student.id_stu = dbo.profile.id_stu) AS tmp ON dbo.club.id_club = tmp.anjoman_id


GO
/****** Object:  View [dbo].[members_notmembers]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[members_notmembers] as
select student.name,student.family,student.id_stu,case   
  WHEN anjoman_marbooteh IS NULL THEN N'عضو نمی باشد'
         else N'عضو '+ anjoman_marbooteh + ' ' + N'می باشد'
        END as N'ozviyat'
from student left join club_members
 on id_stu=stu_id



GO
/****** Object:  View [dbo].[ClubState]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE view [dbo].[ClubState] as
SELECT  id_club as shomareh_Anjoman, name as nameanjoman,case flag 
when 1 then N'فعال است'
when 0 then N'غیر فعال است'
end as State
FROM dbo.club





GO
/****** Object:  UserDefinedFunction [dbo].[ClubState_fun]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ClubState_fun](@vaziyat nvarchar(30) )
RETURNS table
AS
RETURN (
        SELECT * FROM ClubState
        WHERE dbo.ClubState.State = @vaziyat
       )
GO
/****** Object:  UserDefinedFunction [dbo].[club_members_fun]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[club_members_fun](@club_name nvarchar(100))
RETURNS table
AS
RETURN (
        SELECT anjoman_marbooteh,COUNT(dbo.club_members.stu_id)as tedad_ozv FROM dbo.club_members
        WHERE dbo.club_members.anjoman_marbooteh = @club_name
	group by anjoman_marbooteh
       )
GO
/****** Object:  View [dbo].[count_members_of_club]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[count_members_of_club] as
select anjoman_marbooteh,count(stu_id) as tedade_aza from
(select tmp.stu_family,tmp.stu_name,tmp.stu_id ,club.name as anjoman_marbooteh from 
club,(select student.name as stu_name,student.family as stu_family ,student.id_stu as stu_id,id_club as anjoman_id
from student,profile
where student.id_stu=profile.id_stu
)as tmp 
where tmp.anjoman_id=club.id_club)as tmp2
group by anjoman_marbooteh



GO
/****** Object:  UserDefinedFunction [dbo].[count_members_of_club_fun]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[count_members_of_club_fun](@name nvarchar(100))
RETURNS table
AS
RETURN (
        SELECT tedade_aza FROM dbo.count_members_of_club
        WHERE dbo.count_members_of_club.anjoman_marbooteh = @name
       )
GO
/****** Object:  UserDefinedFunction [dbo].[members_notmembers_fun]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[members_notmembers_fun](@sale_vorood nvarchar(50),@ozv nvarchar(50))
RETURNS table
AS
RETURN (
select name,family,id_stu,ozviyat from dbo.members_notmembers 
where id_stu like @sale_vorood +'%'  and ozviyat like '%'+ @ozv + '%'

)
GO
/****** Object:  View [dbo].[vote_result]    Script Date: 6/8/2016 4:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vote_result] as
select COUNT(*)as tedad_ara,id_cand,id_club from dbo.vote
group by id_cand,id_club




GO
INSERT [dbo].[Candidate] ([id_term], [id_stu], [avrage], [id_club], [StartDate], [EndDate], [TedadAra]) VALUES (1, 91170124, 16.5000, 17, N'11/6/2015 ', N'13/6/2015 ', 4)
INSERT [dbo].[Candidate] ([id_term], [id_stu], [avrage], [id_club], [StartDate], [EndDate], [TedadAra]) VALUES (1, 91170125, 16.8000, 17, N'11/6/2015 ', N'13/6/2015 ', 4)
INSERT [dbo].[Candidate] ([id_term], [id_stu], [avrage], [id_club], [StartDate], [EndDate], [TedadAra]) VALUES (1, 92462101, 17.0000, 46, N'11/6/2015 ', N'13/6/2015 ', 10)
INSERT [dbo].[club] ([id_club], [name], [flag], [startDate], [pic], [master_notmaster]) VALUES (1, N'معاونت', 1, N'5/20/2015 ', NULL, 1)
INSERT [dbo].[club] ([id_club], [name], [flag], [startDate], [pic], [master_notmaster]) VALUES (17, N'کشاورزی', 0, N'5/20/2015 ', NULL, 1)
INSERT [dbo].[club] ([id_club], [name], [flag], [startDate], [pic], [master_notmaster]) VALUES (41, N'نقشه برداری', 1, N'5/20/2015 ', NULL, 1)
SET IDENTITY_INSERT [dbo].[link] ON 

INSERT [dbo].[link] ([id], [id_club], [text_title], [link_add]) VALUES (1, 1, N'سایت خبری', N'https://news.znu.ac.ir/')
INSERT [dbo].[link] ([id], [id_club], [text_title], [link_add]) VALUES (2, 1, N'فود', N'https://food.znu.ac.ir/')
INSERT [dbo].[link] ([id], [id_club], [text_title], [link_add]) VALUES (3, 46, N'سیویلیکا', N'https://www.civilica.com/Paper-WRM04-WRM04_157.html')
SET IDENTITY_INSERT [dbo].[link] OFF
INSERT [dbo].[manager] ([nationalcode], [name], [pass], [flag], [start_date]) VALUES (439956879, N'حسین', N'حمزه لو', 1, N'10/17/2015')
SET IDENTITY_INSERT [dbo].[news] ON 

INSERT [dbo].[news] ([id_club], [flag], [pic], [date], [titr], [id_news], [text]) VALUES (17, 1, NULL, N'05 / 13 / 2015', N'کشاورزی ارگانیک چیست', 8, N'مراحی از تمامی  این کارهاییی را که باید')
INSERT [dbo].[news] ([id_club], [flag], [pic], [date], [titr], [id_news], [text]) VALUES (41, 1, NULL, N'03 / 23 / 2015', N'ورود نقشه برداران به المپیک', 16, N'ورد جوانان نقشه برداران دانشگاه زنجان ...')
INSERT [dbo].[news] ([id_club], [flag], [pic], [date], [titr], [id_news], [text]) VALUES (43, 1, NULL, N'11/ 23 / 2015', N'جایگاه معماری ایرانی در جهان', 11, N'معماری ایرانی در جهان دارای جایگاهی بس والا می باشد که ....')
SET IDENTITY_INSERT [dbo].[news] OFF
INSERT [dbo].[profile] ([id_stu], [pass], [username], [pic], [email], [id_club], [EnableState], [semat]) VALUES (91170124, N'123456', N'beh', NULL, NULL, 17, 1, 1)
INSERT [dbo].[profile] ([id_stu], [pass], [username], [pic], [email], [id_club], [EnableState], [semat]) VALUES (91170125, N'321', N'al', NULL, NULL, 17, 0, 1)
INSERT [dbo].[profile] ([id_stu], [pass], [username], [pic], [email], [id_club], [EnableState], [semat]) VALUES (91170126, N'3649896', N',sfjeghioreg', NULL, NULL, 17, 1, 0)
INSERT [dbo].[student] ([id_stu], [national_code], [name], [family], [EnableState]) VALUES (91170124, N'0632598568', N'behrooz', N'mahmoodi', 1)
INSERT [dbo].[student] ([id_stu], [national_code], [name], [family], [EnableState]) VALUES (91170125, N'0632335875', N'alireza', N'ghiyasvan', 1)
INSERT [dbo].[student] ([id_stu], [national_code], [name], [family], [EnableState]) VALUES (91170126, N'0298746598', N'mohammad', N'afshar', 1)
SET IDENTITY_INSERT [dbo].[veiw] ON 

INSERT [dbo].[veiw] ([srl], [date]) VALUES (2, N'1')
INSERT [dbo].[veiw] ([srl], [date]) VALUES (3, N'12')
INSERT [dbo].[veiw] ([srl], [date]) VALUES (4, N'5 / 19 / 2')
GO
SET IDENTITY_INSERT [dbo].[veiw] OFF
INSERT [dbo].[vote] ([id_stu], [id_cand], [id_club], [id_term]) VALUES (91170124, 91170124, 17, 1)
INSERT [dbo].[vote] ([id_stu], [id_cand], [id_club], [id_term]) VALUES (91170124, 91170125, 17, 1)
INSERT [dbo].[vote] ([id_stu], [id_cand], [id_club], [id_term]) VALUES (91170125, 91170124, 17, 1)
ALTER TABLE [dbo].[Candidate]  WITH CHECK ADD  CONSTRAINT [FK_Candidate_club] FOREIGN KEY([id_club])
REFERENCES [dbo].[club] ([id_club])
GO
ALTER TABLE [dbo].[Candidate] CHECK CONSTRAINT [FK_Candidate_club]
GO
ALTER TABLE [dbo].[Candidate]  WITH CHECK ADD  CONSTRAINT [FK_Candidate_student] FOREIGN KEY([id_stu])
REFERENCES [dbo].[student] ([id_stu])
GO
ALTER TABLE [dbo].[Candidate] CHECK CONSTRAINT [FK_Candidate_student]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [FK_link_club] FOREIGN KEY([id_club])
REFERENCES [dbo].[club] ([id_club])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [FK_link_club]
GO
ALTER TABLE [dbo].[news]  WITH CHECK ADD  CONSTRAINT [FK_news_club] FOREIGN KEY([id_club])
REFERENCES [dbo].[club] ([id_club])
GO
ALTER TABLE [dbo].[news] CHECK CONSTRAINT [FK_news_club]
GO
ALTER TABLE [dbo].[profile]  WITH CHECK ADD  CONSTRAINT [FK_profile_club] FOREIGN KEY([id_club])
REFERENCES [dbo].[club] ([id_club])
GO
ALTER TABLE [dbo].[profile] CHECK CONSTRAINT [FK_profile_club]
GO
ALTER TABLE [dbo].[profile]  WITH CHECK ADD  CONSTRAINT [FK_profile_student1] FOREIGN KEY([id_stu])
REFERENCES [dbo].[student] ([id_stu])
GO
ALTER TABLE [dbo].[profile] CHECK CONSTRAINT [FK_profile_student1]
GO
ALTER TABLE [dbo].[publication]  WITH CHECK ADD  CONSTRAINT [FK_publication_club] FOREIGN KEY([id_club])
REFERENCES [dbo].[club] ([id_club])
GO
ALTER TABLE [dbo].[publication] CHECK CONSTRAINT [FK_publication_club]
GO
ALTER TABLE [dbo].[vote]  WITH CHECK ADD  CONSTRAINT [FK_vote_Candidate] FOREIGN KEY([id_term], [id_cand], [id_club])
REFERENCES [dbo].[Candidate] ([id_term], [id_stu], [id_club])
GO
ALTER TABLE [dbo].[vote] CHECK CONSTRAINT [FK_vote_Candidate]
GO
ALTER TABLE [dbo].[vote]  WITH CHECK ADD  CONSTRAINT [FK_vote_student] FOREIGN KEY([id_stu])
REFERENCES [dbo].[student] ([id_stu])
GO
ALTER TABLE [dbo].[vote] CHECK CONSTRAINT [FK_vote_student]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [CK_link] CHECK  (([dbo].[link_chk]([link_add])=(1)))
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [CK_link]
GO
ALTER TABLE [dbo].[news]  WITH CHECK ADD  CONSTRAINT [CK_news] CHECK  (([dbo].[cnt]([id_club])=(0)))
GO
ALTER TABLE [dbo].[news] CHECK CONSTRAINT [CK_news]
GO
ALTER TABLE [dbo].[student]  WITH CHECK ADD  CONSTRAINT [CK_student] CHECK  (([dbo].[stu_nationalcod_chk]([national_code])=(0)))
GO
ALTER TABLE [dbo].[student] CHECK CONSTRAINT [CK_student]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "club"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 141
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tmp"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 141
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'club_members'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'club_members'
GO
USE [master]
GO
